<launch>

    <!-- Actuators (i.e. motors) -->
    <include file="$(find oars_gb)/launch/bringup-actuators.launch"/>

    <!-- Heading control -->
    <node name="heading_controller" pkg="oars_gb" type="heading_controller.py"/>

    <!-- Sensors -->
    <include file="$(find oars_gb)/launch/sensors.launch"/>

    <!-- Report telemetry data -->
    <include file="$(find oars_gb)/launch/telemetry.launch"/>

</launch>